In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/05 20:00:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [49]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-04 20:55:57--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T205557Z&X-Amz-Expires=300&X-Amz-Signature=ad299be7206d6991c7526225badeeefd7f21a41add31dbc4671ba9f315aeec13&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-04 20:55:57--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T205557Z&X-Amz-Expires=300&X-Amz-Signature=ad299be7206d6991c7526225badeeefd7f21a41add31dbc4671ba9f315aeec13&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  30.4MB/s    in 5.8s

2023-03-04 20:56:03 (28.8 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [50]:
!wc -l fhvhv_tripdata_2021-06.csv.gz

651315 fhvhv_tripdata_2021-06.csv.gz

In [51]:
!gzip -d fhvhv_tripdata_2021-06.csv.gz

In [14]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv')

In [15]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [16]:
!head -n 1001 fhvhv_tripdata_2021-06.csv > 2021_06_head.csv

In [4]:
import pandas as pd

In [34]:
df_pandas = pd.read_csv('2021_06_head.csv')

In [35]:
df_pandas.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [20]:
spark.createDataFrame(df_pandas).schema

TypeError: field Affiliated_base_number: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

Integer - 4 bytes
Long - 8 bytes

In [5]:
from pyspark.sql import types

In [6]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [53]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [56]:
df = df.repartition(12).rdd.getNumPartitions()

In [55]:
df.write.parquet('fhvhv/2021/06/')

In [7]:
df = spark.read.parquet('fhvhv/2021/06/')

In [8]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

SELECT * FROM df WHERE hvfhs_license_num =  HV0003

In [17]:
from pyspark.sql import functions as F

In [15]:
df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02617|2021-06-04 16:50:34|2021-06-04 17:01:18|         118|         109|      N|                B02617|
|              B02875|2021-06-02 22:28:45|2021-06-02 22:37:28|         163|          79|      N|                B02875|
|              B02871|2021-06-03 11:47:48|2021-06-03 11:52:23|         231|          13|      N|                B02871|
|              B02888|2021-06-03 08:45:25|2021-06-03 09:00:12|           9|          92|      N|                B02888|
|              B02510|2021-06-05 09:50:43|2021-06-05 10:06:53|          14|         133|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [10]:
df.createOrReplaceTempView('tripdata')

In [16]:
spark.sql("""
SELECT count(dispatching_base_num) FROM tripdata
where date(pickup_datetime) = '2021-06-15'
""").show()

+---------------------------+
|count(dispatching_base_num)|
+---------------------------+
|                     452470|
+---------------------------+

[Stage 7:==============>                                            (1 + 3) / 4]

In [23]:
spark.sql("""
select pickup_datetime, dropoff_datetime, 
(unix_timestamp(dropoff_datetime)-unix_timestamp(pickup_datetime))/(3600) as Duration_In_Hours 
from tripdata
order by Duration_In_Hours  desc 
limit 3
""").show()

+-------------------+-------------------+------------------+
|    pickup_datetime|   dropoff_datetime| Duration_In_Hours|
+-------------------+-------------------+------------------+
|2021-06-25 13:55:41|2021-06-28 08:48:25|  66.8788888888889|
|2021-06-22 12:09:45|2021-06-23 13:42:44|25.549722222222222|
|2021-06-27 10:32:29|2021-06-28 06:31:20|19.980833333333333|
+-------------------+-------------------+------------------+

[Stage 13:===========================================>              (3 + 1) / 4]

In [24]:
df_pandas_zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [30]:
df_pandas_zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [29]:
df_pandas_zone_lookup.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [40]:
schema_zone_lookup = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True), 
    types.StructField('Borough ', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True),
])

In [41]:
df_spark_zone_lookup = spark.read \
    .option("header", "true") \
    .schema(schema_zone_lookup) \
    .csv('taxi+_zone_lookup.csv')

In [42]:
df_spark_zone_lookup.createOrReplaceTempView('zone_lookup')

In [46]:
spark.sql("""
SELECT z.Zone, count(t.dispatching_base_num)  as ride_count 
FROM tripdata t
left outer join zone_lookup z 
on t.PULocationID = z.LocationID
group by z.Zone
order by ride_count desc
""").show()

+--------------------+----------+
|                Zone|ride_count|
+--------------------+----------+
| Crown Heights North|    231279|
|        East Village|    221244|
|         JFK Airport|    188867|
|      Bushwick South|    187929|
|       East New York|    186780|
|TriBeCa/Civic Center|    164344|
|   LaGuardia Airport|    161596|
|            Union Sq|    158937|
|        West Village|    154698|
|             Astoria|    152493|
|     Lower East Side|    151020|
|        East Chelsea|    147673|
|Central Harlem North|    146402|
|Williamsburg (Nor...|    143683|
|          Park Slope|    143594|
|  Stuyvesant Heights|    141427|
|        Clinton East|    139611|
|West Chelsea/Huds...|    139431|
|             Bedford|    138428|
|         Murray Hill|    137879|
+--------------------+----------+
only showing top 20 rows